# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# macOS specific files
.DS_Store

# Output directories
output/

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Generated YAML config files
*.yaml

# IDE configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
